@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    footer ul li {
      @apply font-[400] text-[16px] leading-[26px];
    }
  }

*{
    font-family: 'Monda', sans-serif;
}

.backgroundImage{
    background-image: url("./assets/backgroundimage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}